.logo {
  width: 200px;
  height: 164px;
}

.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

   .sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.searchbar{
  float:right;
  text-align: right;
}
.news, .webreviews{
  background-color:#C8C8C8;
  width: 100%;
}
.reviews{
  background-color: #E3EBFD;
  width: 100%;
}
.container4, .container5{
    justify-content:center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    grid-gap: 10px;
    border-radius: 10px;
    background-color: #C8C8C8;
    width: 100%;
    height: 400px;
  }

  .first, .third {
    box-sizing: border-box;
    padding: 10px;
    width:490px;
    height: 350px;
    border: 5px solid #7FB3D5;
    margin:3px;
    
  }
  .second {
    box-sizing: border-box;
    padding: 10px;
    width:400px;
    height: 350px;
    border: 5px solid #7FB3D5;
    margin:3px;
    
  }
  .container2 {
    justify-content:center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    grid-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #E3EBFD;
    position: relative;
    left: -10px;
    height: 610px;
    width: 100%;
    padding-top: 10px;
  }
  .fourth{
    box-sizing: border-box;
    padding: 10px;
    width:475px;
    height: 200px;
    border: 5px solid #7FB3D5;
    margin:3px;
    position: relative;
    left: 240px;

  } 
  .fifth {
    box-sizing: border-box;
    padding: 10px;
    width:475px;
    height: 200px;
    border: 5px solid #7FB3D5;
    margin:3px;
    position: relative;
    left: -250px;
    
  }
  .sixth {
    box-sizing: border-box;
    padding: 10px;
    width:450px;
    height: 580px;
    border: 5px solid #7FB3D5;
    margin:3px;
    position: relative;
    left: -250px
  }

  .reviewseg{
    box-sizing: border-box;
    padding: 10px;
    width:965px;
    height: 365px;
    border: 5px solid #7FB3D5;
    margin:3px;
    position: relative;
    top: 125px;
    left: 240px;
  }
  
  .container5 {
    justify-content:center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    grid-gap: 10px;
    border-radius: 10px;
    background-color: #C8C8C8;
    width: 100%;
    height: 400px;
  }

  .seventh, .eighth {
    box-sizing: border-box;
    padding: 10px;
    width:490px;
    height: 350px;
    border: 5px solid #7FB3D5;
    margin:3px;
    
  }
  .ninth {
    box-sizing: border-box;
    padding: 10px;
    width:400px;
    height: 350px;
    border: 5px solid #7FB3D5;
    margin:3px;
    
  }
#wrapper {
    width:700px;
    clear:both;
  }
  #first {
    background-color:red;
    width:200px;
    float:left;
  }
  #second {
    background-color:blue;
    width:300px;
    float:left;
  }
  #third {
    background-color:#bada55;
    width:200px;
    float:left;
  }

.header {
  padding: 60px;
  text-align: center;
  background: #1d33a1;
  color: blue;
  font-size: 30px;
}

a:link{color:blue;} /*this is the original link, before clicking*/
a:visited{color:orange;} /*once its been clicked on*/
a:hover{color:black;} /*when you move the mouse over the link*/
a:active{color:green;} /* when you physically click on the link*/
footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #00098a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

i.fas, i.fab, i.far, i.fal {
    text-align :center;
    padding :0px 0;    
}

i.fas, i.fab, i.far, i.fal a{
    display: inline-flex;
    width: 20px;
    height: 20px;
    background:orange;
    color: white;
    margin: 0 2px !important ;
    border-radius: 50% !important ;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 18px;
    text-decoration: none;
 }
 i.fas, i.fab, i.far, i.fal{
    padding: 5px;
    color: white;
    margin-left: -5px;
    transform: translateX(10px) rotate(360deg);
 }

 .container3 {
  position: relative;
}


.text-block {
  position: absolute;
  top: 405px;
  left: 425px;
  background-color: white;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
 
.text-block1 {
  position: relative;
  top: -375px;
  right: 0px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
